<?xml
    version="1.0"
    encoding="UTF-8"
?>
    <phpunit
        bootstrap="tests/bootstrap.php"
    >
    <testsuites>
        <testsuite name="Astrobin WS Test Suite">
            <directory suffix=".php">./tests/Services</directory>
        </testsuite>
        <testsuite name="Enums Test Suite">
            <directory suffix=".php">./tests/Filters</directory>
        </testsuite>
    </testsuites>
<!--    <coverage-->
<!--        cacheDirectory=".phpunit.cache/code-coverage"-->
<!--        processUncoveredFiles="true"-->
<!--    >-->
<!--        <include>-->
<!--            <directory suffix=".php">calculator</directory>-->
<!--        </include>-->
<!--    </coverage>-->
</phpunit>